<div class="container py-5">
  <div class="offset-sm-3 col-sm-6">
    <h3>Add a movie to you <%= @list.name %> list</h3>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment, placeholder: 'Enter a comment about the movie..' %>
      <%= f.association :movie, prompt: 'Select a movie' %>
      <%= f.submit %>
    <% end %>
    <br>
    <div>
      <%= link_to "Go back", lists_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
